/* Google Fronts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-color:#3c15ea;
    --second-color:#ffac38;
    --text-color:#302e2e;
    --gradient:linear-gradient(#fe5b3d,#ffac38);
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-track-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}
section {
    padding: 50px 100px;
}
header {
   position: fixed;
   background-color: #101010;
   width: 100%;
   height: 90px;
   top: 0;
   right: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 15px 90px;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}

/* Navbar section */

.nav{
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    background-color: #101010;
}

.nav div.logo{
    width: 180px;
    height: 10px;
    position: absolute;
}

.nav div.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    text-transform: uppercase;
}

.nav div.logo a:hover {
    color: #c0c0c0;
}

.nav div.main_list{
    width: 600px;
    height: 65px;
    float: right;
}

.nav div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li{
    width: 120px;
    height: 65px;
}

.nav div.main_list ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    text-transform: uppercase;
}

.nav div.main_list ul li a:hover{
    color: #c0c0c0;
}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */

.home{
    width: 100%;
    height: 100vh;
    background-color: #ddd;
}

/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container{
        margin: 0;
    }
    
}




@media screen and (max-width:768px) {
    
    .container{
        margin: 0;
    }
    
    .nav div.logo{
        margin-left: 15px;
    }
    
    .nav div.main_list{
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }
    
    .nav div.show_list{
        height: 200px;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:#101010;
    }
    
    .nav div.main_list ul li a{
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }
}
/*me dal sign up sign in me zi (se me kalter)*/
.header-btn a {
    padding: 10px 20px;
    color: white;
    font-weight: 500;
}
.header-btn .sign-in {
    border: 1px solid white;
    color: #fff;
    border-radius: 0.5rem;
}
.header-btn .sign-in:hover{
    background: white;
    color: #000000;
}
.home {
   width: 100%;
   min-height: 100vh;
   position: relative;
   background: url(Night\ Ridee.jpeg);
   background-repeat: no-repeat;
   background-position: center right;
   background-size: cover;
   display: grid;
   align-items: center;
   justify-content: center;
   grid-template-columns: repeat(1, 2fr);
}
.text h1 {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 3px;
    color: white;
}

.text p{
    text-align: center;
    margin: 00.5rem 0 1rem;
    color: grey;
}
.text span {
    color: var(--text-color);
}
.app-stores {
    justify-content: center;
    display: flex;
}
.app-stores img {
    height: 50px;
    margin-right: 1rem;
    cursor: pointer;
}
/*pjesa e location/marrjes/kthimit*/
@media only screen and (min-width: 992px){
    .form-container{
        display: flex;
        justify-content: center ;
    }
    .form-container form {
        display: flex;
        flex-wrap: nowrap;
        width: 70%;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 0.5rem;
    }
    
}

.btn {
    width: 120px;
   
}
.input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
.input-box span {
    font-weight: 500;
}
.input-box input {
    padding: 7px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.form-container form .btn {
    flex: 1 1 7rem;
    padding: 10px 3px;
    border: 1px solid black;
    border-radius: 0.5rem;
    background: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.form-container form .btn:hover {
    background: black;
    color: white;
}

@media only screen and (max-width: 768px) {
    .form-container form {
        display: flex;
        flex-direction: column;
        display: flex;
        flex-wrap: nowrap;
        /* width: 70%; */
        /* align-items: center; */
        justify-content: center;
        /* gap: 1rem; */
        background: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 0.5rem;
    }
    .form-container form .btn {
        flex: 00;
    }
  }

.heading { 
    text-align: center;
}
.heading span {
    font-weight: 500;
    text-transform: uppercase;
}
.heading h1 {
    font-size: 2rem;
}
 
.ride {
    display: flex;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    gap:1rem;
    margin-top: 2rem;

}

.ride-container .box {
    text-align: center;
    padding: 20px;
}

.ride-container .box .bx {
    font-size: 34px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 0.5rem;
    color: orange;


}

.ride-container .box h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}
@media only screen and (max-width: 768px){
        .ride{
            display: grid;
        }
}
.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap: 1rem;
    margin-top: 2rem;

}
.box-img{
    display: flex;
    justify-content: center;
}
.services-container .box {
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}
.services-container .box .box-img {
    width: 100%;
    height: 200px;

}

.services-container .box .box-img img {
    width: 100%;
    height: 70%;
    border-radius: 1rem;

}

.services-container .box p {
    padding: 0 10px;
    border: 1px solid var(--text-color);
    width: 58px;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;
}

.services-container .box h3 {
    font-weight: 500;
}

.services-container .box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    margin: 0.2rem 0 0.5rem;
}

.services-container .box h2 span {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
}

.services-container .box .btn {
    display: flex;
    justify-content: center;
    background: #474fa0;
    color: #fff;
    padding: 10px;
    border-radius: 0.5rem;
}

.services-container .box .btn:hover {
    background: var(--main-color);
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.about-img img {
    width: 100%;
}
.about-text span {
    font-weight: 500;
    color: cadetblue;
    text-transform: uppercase;
}
.about-text p {
    margin: 0.5rem 0 1.4rem;
}
.about-text .btn {
    padding: 10px 20px;
    background: #474fa0;
    color: #fff;
    border-radius: 0.5rem;
}
/*learn more*/
.about-text .btn:hover {
    background: var(--main-color);
}
.reviews-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.rev-img {
    width: 70px;
    height: 70px;
}
.rev-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}
.reviews-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}
.reviews-container .box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}
.reviews-container .box p {
    font-style: italic;
}
.reviews-container .box .stars .bx {
    color: var(--main-color);
}
.newsletter {
    background: linear-gradient(to top right,#fe5b3d ,#ffac38 );
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter h2 {
    color: #fff;
    font-size: 1.8rem;
}
.newsletter .box {
    margin-top: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    padding: 4px 8px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.newsletter .box input {
    border: none;
    outline: none;
}
.newsletter .box .btn {
    background: #474fa0;
    color: #eeeff1;
    padding: 8px 20px;
    border-radius: 0.5rem;
}
/*logoja e instas twiterit edhe fcb qe ska dal*/
.copyright {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social a {
    color: #444;
    padding: 10px;
    font-size: 21px;
}
/*Making Responsive*/
@media (max-width:991px) {
    header {
        padding: 18px 40px;
    }
    section {
        padding: 50px 40px;
    }
}
@media (max-width: 881px) {
    .home {
   background-position: left;
    }
    .form-container form {
        bottom: 0.2rem;
        left: 40px;
    }
}
@media (max-width: 768px) {
    header {
        padding: 11px 40px;
    }
    #menu-icon {
        display: initial;
    }
    .sign-up{
        display: none;
    }
    .text h1 {
        font-size: 2.5rem;
    }
    .home{
        grid-template-columns: 1fr;
    }
    .form-container form {
        position: unset;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #eeeff1;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        transition: 0.2s ease ;
        text-align: left;
    }
    .navbar.active {
        top: 100%;
    }
    .navbar a {
        padding: 1rem;
        border-left: 2px solid var(--text-color);
        margin: 1rem;
        display: block;
    }
    .navbar a:hover {
        color: #fff;
        background: var(--text-color);
        border: none;
    }
    .navbar a::after {
        display: none;
    }
    .heading span {
        font-size: 0.9rem;
        font-weight: 600;
    }
    .heading h1 {
        font-size: 1.3rem;
    }
    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img {
        padding: 1rem;
        order: 2;
    }
}
@media (max-width: 568px) {
    .copyright {
        flex-direction: column;
    }
    .newsletter .box {
        width: 284px;
    }
    .form-container {
        padding-top: 2rem;
    }
}
@media (max-width: 350px) {
    header {
        padding: 4px 14px;
    }
    .logo img {
        width: 30px;
    }
    section {
        padding: 50px 14px;
    }
    .header-btn .sign-in {
        padding: 7px 10px;
        font-size: 14px;
        font-weight: 400;
    }
    .text h1 {
        font-size: 2rem;
    }
    .services-container {
        grid-template-columns: repeat(auto-fit,minmax(254px,auto));
    }
}